language: scala

jdk:
  - oraclejdk7
  
sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache

script:
  - sbt sxr
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

env:
  global:
    - secure: "LnaJQvnjTiSzw9kTH/IHqvfCkcPtCFbMQD5jRopXNlPdO7YpgCyMkpBlDTvXmYkHv+NOibJgfjarDKRr4OA0sUYphAuuAhe5sK+a53Oe5UbQ5j60jRgnys0c6X8i99c6PxrU1Nyx4uGgGPoCNhtoKJe6Xd64Q55YRPL9Ayt4pVY="

